html {
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1170px;
  margin: 0 auto;
}

.parallax {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-general {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #313131;
}

.logotip {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  margin-right: 70px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.logo {
  display: flex;
  padding: 0 27px;
}

.logo-img:hover {
  box-shadow: -1px -1px 7px 4px #5f5e5e;
}

.logo-text {
  display: inline-block;
  text-align: center;
  padding: 22px 0px 22px 8px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0 65px;
}

.menu-item {
  display: flex;
  width: max-content;
  padding: 28px 53px 26px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #ffffff;
}

.menu-search {
  display: block;
  height: 70px;
  width: 68px;
}

.logo-search {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 70px;
  width: 68px;
  border: #313131;
  background-color: #313131;
}

.logo-search:hover {
  background-color: #111111;
  cursor: pointer;
}

.img-search {
  display: block;
  width: 17px;
  height: 17px;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 49px;
}

.parallax-section::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 75px;
  left: 0;
  z-index: -2;
  transform: translateZ(-50px) scale(2);
  background: center/cover no-repeat;
}

.parallax-section_1::before {
  background-image: url("../img/header-bg.jpg");
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 163px 0 44px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 700;
  line-height: 37px;
  color: #ffffff;
}

.container-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 74px;
}

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 3px;
  width: 170px;
  height: 55px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: -1px -1px 7px 4px #5f5e5e;
  text-shadow: 1px 1px 2px #5f5e5e;
}

.btn-subscribe {
  border: solid #89ca62;
  margin-right: 20px;
  background-color: #89ca62;
}

.btn-articles {
  border: solid #14b9d5;
  background-color: #14b9d5;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.post-background {
  width: 100%;
  background: #f2f2f2;
}

.subject-post {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
}

.post-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  flex-grow: 1;
}

.post-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  flex-grow: 1;
  padding: 0 30px;
}

.content-heading {
  width: 100%;
  margin-bottom: 52px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #18b4cf;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

.description-post {
  text-align: center;
  padding-top: 17px;
  padding: 17px 0 19px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  background-color: #ffffff;
}

.description-post:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.parallax-section2::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 1700px;
  left: 0;
  z-index: -1;
  transform: translateZ(-50px) scale(2);
  background: center/cover no-repeat;
}

.parallax-section_2::before {
  background-image: url("../img/parallax-bg.jpg");
}
.content-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
  margin-bottom: 200px;
}

.clients-text {
  display: flex;
  align-items: center;
  width: max-content;
  margin-bottom: 87px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 700;
  line-height: 37px;
  color: #ffffff;
}

.line {
  display: flex;
  width: 60px;
  margin-bottom: 107px;
  border-bottom: solid 3px #18b4cf;
}

.clients-logo {
  display: grid;
  grid-template-rows: 52px;
  grid-template-columns: repeat(10, 75px);
  gap: 13px;
  align-items: center;
  padding-bottom: 192px;
}

.logo-item1 {
  grid-area: 1 / 1 / 2 /3;
}

.logo-item2 {
  grid-area: 1 / 4 / 2 / 6;
}

.logo-item3 {
  grid-area: 1 / 6 / 2 /9;
}

.logo-item4 {
  grid-area: 1 / 9 / 2 /11;
}

.rated {
  width: 100%;
  background-color: #ffffff;
}

.content-rated {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 48px;
}

.img-content {
  width: 100%;
  height: auto;
}

.wrapper {
  display: grid;
  grid-template-rows: 259px 418px 418px 259px;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 44px;
  margin-bottom: 77px;
}

.post1 {
  grid-area: 1 / 1 / 2 /6;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.text-1 {
  grid-area: 1 / 6 / 2 /10;
  padding: 0 24px 0 17px;
  margin-right: 16px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post2 {
  grid-area: 1 / 10 / 2 /13;
  margin-left: 17px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post3 {
  grid-area: 2 / 1 / 3 /7;
  margin-right: 31px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post4 {
  grid-area: 2 / 7 / 3 /13;
  margin-left: 31px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post5 {
  grid-area: 3 / 1 / 4 /7;
  margin-right: 31px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post6 {
  grid-area: 3 / 7 / 4 /13;
  margin-left: 31px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post7 {
  grid-area: 4 / 1 / 5 /4;
  margin-right: 15px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post8 {
  grid-area: 4 / 4 / 5 /9;
  margin-left: 20px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.text-2 {
  grid-area: 4 / 9 / 5 /13;
  padding: 0 24px 0 17px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.name-hotel {
  text-align: right;
  margin: 15px 0 41px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

.text-hotel {
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.name-hotel1 {
  text-align: center;
  margin-left: 17px;
  padding-top: 11px;
  padding: 11px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

.name-hotel3 {
  text-align: right;
  padding: 12px 14px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

.text-hotel3 {
  text-align: right;
  padding: 0 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
}

.content-footer {
  padding: 33px 0 34px;
  margin-right: 559px;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.logo-footer {
  padding-top: 10px;
}

.logo-footer-text {
  margin-bottom: 8px;
}

.img-partn {
  opacity: 0.8;
}

.img-partn:hover {
  opacity: 1;
}

.menu-item:hover {
  color: #14b9d5;
}
